@page
@model Web.Pages.Marcas.IndexMarcasModel
@{
}
<header class="subhead">
    <div class="container">
        <div class="masthead-subheading">SC-701: Programación Web Avanzada</div>
        <div class="masthead-heading text-uppercase">Listado de marcas</div>
    </div>
</header>

<section class="page-section bg-light" id="principal">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Listado de marcas</h2>
            <h3 class="section-subheading text-muted">Catálogo de marcas de vehículos disponibles</h3>
        </div>
        <div class="text-center mb-4">
            <a type="button" class="btn btn-group-lg btn-success btn-lg" asp-page="./Agregar"><i class="bi bi-plus-square"></i> Agregar</a>
        </div>
        <div class="row">
            @if (Model.marcas != null && Model.marcas.Any())
            {
                @foreach (var marca in Model.marcas)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><i class="bi bi-bookmark-star-fill"></i> @Html.DisplayFor(m => marca.Marca)</h5>
                                <div class="mt-3">
                                    <a type="button" class="btn btn-primary" asp-page="./Detalle" asp-route-id="@marca.Id"><i class="bi bi-info-square"></i> Detalle</a>
                                    <a type="button" class="btn btn-warning" asp-page="./Editar" asp-route-id="@marca.Id"><i class="bi bi-pencil-square"></i> Editar</a>
                                    <a type="button" class="btn btn-danger" asp-page="./Eliminar" asp-route-id="@marca.Id"><i class="bi bi-trash3-fill"></i> Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    No hay marcas disponibles.
                </div>
            }
        </div>
    </div>
</section>